<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Adicionar Série</title>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body style="overflow-x: hidden;">
	<h1 class="text-center mb-5">Registrando Uma Série</h1>

	<form action="/cadastrarSerie" method="post" th:object="${serie}">
		<div class="row text-center">
			<div class="col-sm-6">
				Título: <input type="text" value="" name="titulo" />
			</div>
			<div class="col-sm-6">
				Faixa Etária: <input type="text" value="" name="classetaria" />
			</div>
			<div class="row text-center">
				<div class="column-sm-6">
					<h2 class="text-center">Seleção da Categoria</h2>
					<select th:field="*{id_categoria}" class="form-control" id="dropDownList" required>
						<option th:each="categoria : ${listCategoria}" th:value="${categoria.id}" th:text="${categoria.nome}" name="id_categoria" value="id_categoria"></option>
					</select>
				</div>
			</div>
			<div class="row text-center">
				<div class="col">
					<button type="submit" class="btn btn-primary mt-5">Salvar</button>

				</div>
			</div>
		</div>
	</form>

	<div class="container text-center">
		<div class="row align-items-center mt-3">
			<div class="col-sm-4">
				<form action="/cadastrarAtor" method="get">
					<button type="submit" class="btn btn-secondary">Registrar Ator</button>
				</form>
			</div>
			<div class="col-sm-4">
				<form action="/cadastrarPersonagem" method="get">
					<button type="submit" class="btn btn-secondary">Registrar Personagem</button>
				</form>
			</div>
			<div class="col-sm-4">
				<form action="/cadastrarEpisodio" method="get">
					<button type="submit" class="btn btn-secondary">Registrar Episódio</button>
				</form>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-sm-4">
				<form action="/cadastrarPerformance" method="get">
					<button type="submit" class="btn btn-secondary">Registrar Performance</button>
				</form>
			</div>
			<div class="col-sm-4">
				<form action="/cadastrarCategoria" method="get">
					<button type="submit" class="btn btn-secondary">Registrar Categoria</button>
				</form>
			</div>

		</div>
	</div>
</body>

</html>