<!DOCTYPE HTML>
<html>

<head>
    <title>POOFLIX</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body style="overflow-x: hidden;">

    <h1 class="text-center">Bem-Vindo ao POOFLIX</h1>
    <h4 class="text-center">Serviço de Registro de Filmes</h4>


    <div class="row text-center mt-3 mb-3">
        <form action="/cadastrarSerie" method="get">
            <button type="submit" class="btn btn-primary">Registrar Série</button>
        </form>
    </div>


    <h2 class="text-center mt-5">Tabela Séries</h2>

    <a th:href="|@{/delete/${actor.id}}|" class="btn btn-danger">Delete</a>
    
    <table class="table col-sm-6 table-hover table-responsive">
        
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Título</th>
                <th scope="col">Faixa Etária</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="serie: ${series}">
                <th scope="row" th:text="${serie.id}" />
                <td th:text="${serie.titulo}" />
                <td th:text="${serie.classetaria}" />
                <!-- <form action="/delete" method="post">
                    <button type="submit" class="btn btn-primary">
                        DELETAR
                    </button>
                </form> -->
            </tr>
        </tbody>
        
    </table>

    <h2 class="text-center mt-5">Tabela Atores</h2>
    <table class="table col-sm-6 table-hover table-responsive">

        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Nacionalidade</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="actor: ${actors}">
                <th scope="row" th:text="${actor.id}" />
                <td th:text="${actor.nome}" />
                <td th:text="${actor.nacionalidade}" />
            </tr>
        </tbody>

    </table>

    <h2 class="text-center mt-5">Tabela Personagens</h2>

    <table class="table col-sm-6">

        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="personagem: ${personagens}">
                <th scope="row" th:text="${personagem.id}" />
                <td th:text="${personagem.nome}" />
            </tr>
        </tbody>

    </table>

    <h2 class="text-center mt-5">Tabela Episódios</h2>

    <table class="table col-sm-6">

        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Título</th>
                <th scope="col">Resumo</th>
                <th scope="col">Temporada</th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="episodio: ${episodios}">
                <th scope="row" th:text="${episodio.id}" />
                <td th:text="${episodio.titulo}" />
                <td th:text="${episodio.resumo}" />
                <td th:text="${episodio.temporada}" />
            </tr>
        </tbody>

    </table>
</body>

</html>